
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Facebook</title>
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href ="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

  <style>
    .useridcss{
      background: #020800;
      border-radius: 100%;
      width: 35px;
      padding: 5px;
      color: #fff;
    }

    .btn a {
      color: #fff!important;
    }

    .navmenu {
      margin-top: -20px;
    }

    .avatar {
      border-radius: 100%;
      width: 150px;
      height: 150px;
    }



  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="home.jsp"><b class="javabook">Facebook</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <form class="d-flex w-75">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="" th:text="*{thisUser.firstName}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/index.jsp">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<section class="container mt-3">
  <div class="row">
    <div class="col-lg-3 d-md-block">
      <div class="shadow p-3 mb-5 bg-body rounded text-center mr-4">
        <img class="avatar mb-3" src="images/flower1.jpeg" alt=""/>
        <h4 class="my-1"th:text="*{thisUser.firstName + ' ' + thisUser.lastName}"></h4>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="row">
          <div class="col-lg-1">
            <img class="post-avatar" src="" alt=""/>
          </div>
          <form th:action="@{/post}" method="post" th:object="${newPost}">
            <div class="col-lg-11">
              <h5 style="text-align: left">Create New Post</h5>
              <input type="text" name="message" id="" class="py-3 px-2 form-control" th:field="*{message}"/>
              <button type="submit" class="btn btn-primary mt-1 btn w-100">Post</button>
            </div>
          </form>
        </div>
      </div>

      <h4 class="mb-4">Posts</h4>
      <div class="post-post shadow-none p-3 mb-5 bg-light rounded" th:each="posts : ${allPosts}">
        <div class="row mt-3 mb-5" >
          <div class="col-lg-2">
            <div class="" th:text="*{posts.getUser().getFirstName()}"></div>
          </div>
          <div class="col-lg-10">
            <div class="post-body" th:text="*{posts.message}"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <a th:href="@{/comment/{postId}(postId=${posts.getPostID()})}" class="btn btn-success btn-sm button">comment</a>
<!--            <form th:href="@{/comment}" method=post>-->
<!--              <input type="hidden" name="message" th:value="*{posts.getPostID()}">-->
<!--              <input type="hidden" name="user_id" th:value="*{posts.getUser().getFirstName()}">-->
<!--              <button type="submit" value="" class="btn btn-success btn-sm button">Comment </button>-->
<!--            </form>-->
          </div>
          <div class="col-lg-3">
            <form th:action="@{/like/{id}(id=${posts.getPostID()})}" method="post" th:object="${newPostlike}">
              <button type="submit" value="" class="btn btn-success btn-sm button" th:text="${posts.getLikes().size() + ' Like'}"></button>
            </form>
          </div>
          <div class="col-lg-3" style="color: #fff;">
            <form th:action="@{/delete/{id}(id=${posts.getPostID()})}" method="post" th:object="${postdelete}">
<!--              <input type="hidden" name="post_id" value="">-->
              <button type="submit" value="" class="btn btn-success btn-sm button" >Delete</button>
            </form>
          </div>
          <div class="row">
            <div class="col s1">
            </div>
            <form class="col s10" method="post" th:object="${newComment}" th:action="@{/comment/{id}(id=${posts.getPostID()})}">
              <div class="row">
                <div class="input-field col s8">
                  <textarea id="icon_prefix" placeholder="Comment..." class="materialize-textarea" th:field="*{comment}"></textarea>
                  <label for="icon_prefix"></label>
                </div>
                <button class="btn waves-effect waves-light blue-violet accent-3" type="submit" name="action">Comment
                  <i class="material-icons right"></i>
                </button>

              </div>
            </form>
          </div>
          <div class="col-lg-3">
            <form th:action="@{/edit/{id}(id=${posts.getPostID()})}" method="post" th:object="${postUpdate}" >
              <div class="row">
                <div class="input-field col s8">
                  <textarea id="icon_prefix3" placeholder="Edit post..." class="materialize-textarea" th:field="*{message}"></textarea>
                  <label for="icon_prefix3"></label>
                </div>
                <button class="btn waves-effect waves-light blue-violet accent-3" type="submit" name="action">Edit
                  <i class="material-icons right"></i>
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item active"><a class="page-link" th:href="@{home.html}">1</a></li>
        <li class="page-item"><a class="page-link" th:href="@{home.html}">Next</a></li>
      </ul>
    </nav>
  </div>
</section>
<footer class="text-center mt-5 mb-5"> - 2021</footer>
</body>
</html>
